@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #020202;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, ul, li {
  margin: 0;
}

/*Verze pro tablet*/
/*Verze pro počítač*/
@media screen and (min-width: 960px) {
  body {
    max-width: 1040px;
    margin: 0 auto;
  }
}
/*Verze pro telefon*/
.menu::after, .menu::before {
  content: "";
  display: block;
  background-color: #022F40;
  width: 100%;
  border-radius: 50%;
  height: 2px;
}

.menu__list {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
  background-color: #D7D6D6;
}

.menu__link {
  padding: 10px;
  display: block;
  color: #020202;
  text-decoration: none;
}
.menu__link:hover {
  background-color: #022F40;
  color: #FFFFFF;
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {
  .menu__list {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}
/*Verze pro počítač*/
.bubble {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: #022F40;
  border-radius: 30px;
}

.bubble_text {
  font-style: italic;
  color: #FFFFFF;
}

.bubble--left {
  border-radius: 30px 30px 30px 0;
}

.bubble--right {
  border-radius: 30px 30px 0 30px;
}

.intro {
  padding: 40px 20px 20px 20px;
  text-align: right;
}

.intro__name {
  font-size: 24px;
  font-weight: 500;
}

.intro__description {
  font-size: 18px;
  font-weight: 400;
}

/*Verze pro tablet*/
/*Verze pro počítač*/
@media screen and (min-width: 960px) {
  .intro__name {
    font-size: 32px;
  }
  .intro__description {
    font-size: 24px;
  }
}
.overview {
  padding: 20px;
  text-align: center;
}

.overview__name {
  text-align: right;
}
.overview__name::after {
  content: "";
  display: block;
  background-color: #022F40;
  width: 100%;
  border-radius: 50%;
  height: 2px;
}

.overview__link {
  background-color: #022F40;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #FFFFFF;
}
.overview__link:hover {
  background-color: #020202;
}

.overview__image {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.overview + .overview {
  margin-top: 20px;
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {
  .overview {
    display: grid;
    gap: 10px;
  }
  .overview--left {
    grid-template-columns: 1fr 2fr;
  }
  .overview--right {
    grid-template-columns: 2fr 1fr;
  }
  .overview--left .overview__image {
    order: -1;
  }
}
/*Verze pro počítač*/
.footer {
  text-align: center;
}
.footer::before {
  content: "";
  display: block;
  background-color: #022F40;
  width: 100%;
  border-radius: 50%;
  height: 2px;
}

.footer__image {
  width: 50px;
}

.footer__text {
  font-size: 12px;
  color: #716F6F;
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {
  .footer__image {
    width: 60px;
  }
}
/*Verze pro počítač*/
@media screen and (min-width: 960px) {
  .footer__image {
    width: 70px;
  }
}/*# sourceMappingURL=style.css.map */