@use "colors";
.about {
    padding: 20px;
}

.about__paragraf {
    text-align: justify;
}

.about__item {
    padding: 5px 0;
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {

}

/*Verze pro počítač*/
@media screen and (min-width: 960px) {
    .about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;    
    }
    
    
    .about__headline {
        grid-column: 1 / 3;
    }

    .about__sumheadline {
        margin-top: 0;
    }
}

