@use "colors";

.intro {
    //obecné
    padding: 40px 20px 20px 20px;
    background: linear-gradient(colors.$light_blue, colors.$dark_blue);

    //texty
    text-align: right; 
    
}

.intro__name {
    font-size: 24px;
    font-weight: 500;
} 
.intro__description {
    font-size: 18px;
    font-weight: 400;
}
