@use "colors";

.intro {
    //obecné
    padding: 40px 20px 20px 20px;

    //texty
    text-align: right; 
    
}

.intro__name {
    font-size: 24px;
    font-weight: 500;
} 

.intro__description {
    font-size: 18px;
    font-weight: 400;
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {

    
}

/*Verze pro počítač*/
@media screen and (min-width: 960px) {

    .intro__name {
        font-size: 32px;
    } 
    
    .intro__description {
        font-size: 24px;
    }
}