@use "colors";

/*Verze pro telefon*/
.menu {
    &::after, &::before {
        content: "";
        display: block;
        background-color: colors.$decor;
        width: 100%;
        border-radius: 50%;
        height: 2px;
    }
}

.menu__list {
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: colors.$light_grey;

}

.menu__link {
    padding: 10px;
    display: block;
    color: colors.$black;
    text-decoration: none;

    &:hover {
        background-color: colors.$decor;
        color: colors.$white;
    }
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {
    .menu__list {
        display: flex;
        justify-content: end;
        gap: 10px;
    }
    
}

/*Verze pro počítač*/
@media screen and (min-width: 960px) {
    
}