@use "colors";

//komponenta overview
.overview {
    padding: 20px;
    text-align: justify;
}

.overview__name {
    //color: colors.$dark_blue;
    text-align: right;

    &::after {
        content: "";
        display: block;
        background-color: colors.$decor;
        width: 100%;
        border-radius: 50%;
        height: 2px;
    }
}

.overview__link {
    background-color: colors.$decor;
    display: block;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: colors.$white;
    margin: 0 auto;

    &:hover {
        background-color: colors.$black;
    }
}

.overview__image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover;
}

.overview + .overview {
    margin-top: 20px;
}

/*Verze pro tablet*/
@media screen and (min-width: 540px) {
    .overview {
        display: grid;
        gap: 10px;

        &--left {
            grid-template-columns: 1fr 2fr;
        }

        &--right {
            grid-template-columns: 2fr 1fr;
        }
    }


    .overview--left .overview__image {
        order: -1;
    }
}


/*Verze pro počítač*/
@media screen and (min-width: 960px) {
    
}