@use "colors";

.subjects {
    //display: grid;
    //grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.subjects__semester {
    //grid-column: 1 / 3;
    text-align: right;

    &::after {
        content: "";
        display: block;
        background-color: colors.$decor;
        width: 100%;
        border-radius: 50%;
        height: 2px;
    }
}

.subjects__link {
    color: colors.$black;
    text-decoration: none;
    display: block;
    padding: 5px 0;

    &:hover {
        background-color: colors.$decor;
        color: colors.$white;
    }
}

/*Verze pro tablet
@media screen and (min-width: 540px) {

}*/

/*Verze pro počítač*/
@media screen and (min-width: 960px) {
    .subjects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .subjects__semester {
        grid-column: 1 / 3;
    }
}