$dark: #0C0F0A;
$blue: #577590;
$orange: #EC9A29;
$light: #f9fbf2;
$red: #6D3B47;
$light_orange: #E1C399;

//obecné
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    background-color: $light;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1, h2, ul, li {
    margin: 0;
}

//intro
.intro {
    //obecné
    background-color: $light_orange;
    padding: 20px;

    //texty
    text-align: right; 
    
}

.intro__name {
    font-size: 24px;
    font-weight: 500;
}
.intro__description {
    font-size: 18px;
    font-weight: 400;
}

//komponenta menu
.menu__list {
    list-style: none;
    background-color: #577590;
    width: 100%;
    padding: 0;
    text-align: center;
}

.menu__link {
    padding: 10px;
    display: block;
    color: $light;
    text-decoration: none;
    font-style: italic;

    &:hover {
        background-color: $orange;
    }
}

//komponenta introduction
.introduction {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: $light_orange;
    border-radius: 30px;
}
.introduction_text {
    font-style: italic;
}


//komponenta overview
.overview__image {
    max-width: 100%;
}