---
layout: layouts/general_template.njk 
title: Projekty
---
<section class="bubble bubble--right about-projects">
    <p class="bubble_text">Projektem sama pro sebe nazývám soubor činností vedoucí k předem stanovenému cíli. 
        Může jím být například tvorba určitého řemeslného výrobku, dosažení určité (například jazykové) zkoušky či zkrátka
        "jen" dosažení určité znalosti či dovednosti, kterou vnímám jako potřebnou či zajímavou. </p>
</section>

<section class="projects">
    <h2 class="projects__headline">Čemu se aktuálně věnuji?</h2>
    <div class="projects__conteiner">
        {% for article in collections.project_current %}

            <div class="projects__project">
                <h3 class="projects__name">{{ article.data.title }}</h3>
                <p class="projects__description">{{ article.data.perex }}</p>
                <button class="projects__link"><a class="projects_url" href="{{ article.url }}">Celý článek</a></button>
            </div>

        {% endfor %}
    </div>
</section>

<section class="projects">
    <h2 class="projects__headline">Minulé </h2>
    <div class="projects__conteiner">
        {% for article in collections.project_past | reverse %}

            <div class="projects__project">
                <h3 class="projects__name">{{ article.data.title }}</h3>
                <p class="projects__description">{{ article.data.perex }}</p>
                <button class="projects__link"><a class="projects_url" href="{{ article.url }}">Celý článek</a></button>
            </div>

        {% endfor %}
    </div>
</section>