<footer class="footer">
    <a class="footer__contact" href="mailto:pskacelova16@gmail.com" atribut target="_blank"><img class="footer__image" src="/images/mail.svg" alt="Email"></a>
    <a class="footer__contact" href="https://github.com/saurinne" atribut target="_blank"><img class="footer__image" src="/images/github.svg" alt="GitHub"></a>
    <a class="footer__contact" href="https://www.facebook.com/petra.skacelova.9/" atribut target="_blank"><img class="footer__image" src="/images/facebook.svg" alt="Facebook"></a>
    <a class="footer__contact" href="https://www.linkedin.com/in/petra-sk%C3%A1celov%C3%A1-429135207/" atribut target="_blank"><img class="footer__image" src="/images/linkedin.svg" alt="LinkedIn"></a>
    
    <p class="footer__text">Digitální portfolio vzniklo pro účely studia na KISK FF MUNI.</p>
    <p class="footer__text">Jeho webová podoba vznikla v rámci kurzu Staň se kodérkou od Czechitas.</p>
</footer>