---
layout: layouts/general_template.njk
---
<section class="article">
    <div class="article__header">
        <h2 class="article__title">{{ title }}</h2>
        <p class="article__author">Autor: {{ author }}</p>
        <p class="article__date">Datum: {{ datum }}</p>
    </div>

    <div class="article__content">
        {{ content | safe }}
    <div>
</section>